## What is clickbait?
Click bait is a form of false advertisement which uses a hyperlink text or a thumbnail link that is designed to attract attention and entice users to follow that link and read, view or listen to the linked piece of online content, with a defining charecteristic of being deceptive, typically sensationalized or misleading.
https://towardsdatascience.com/text-classification-with-extremely-small-datasets-333d322caee2

In [1]:
import numpy as np
import pandas as pd

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is B4CF-A33C

 Directory of c:\Users\Arnab\Documents\GitHub\arnabpro007.github.io\Data Analysis\Text Classification with small dataset

31-08-2021  19:58    <DIR>          .
31-08-2021  19:58    <DIR>          ..
15-12-2016  17:25           923,965 clickbait_data
15-12-2016  17:25           856,139 non_clickbait_data
31-08-2021  16:00               579 Text Classification with small dataset.ipynb
               3 File(s)      1,780,683 bytes
               2 Dir(s)  950,237,097,984 bytes free

In [9]:
#First challenge I am facing is even creating this dataset, as I can't use pandas to directly read it.
with open("clickbait_data") as file:
    lines = file.readlines()
    lines = [line.rstrip() for line in lines]

#we are falsely adding white space in the list as well so we will remove those
click_bait = []
for ele in lines:
    if ele.strip():
        click_bait.append(ele)

In [11]:
len(click_bait)

15999

In [17]:
file.close()

In [19]:
with open("non_clickbait_data",encoding="utf8") as file:
    lines = file.readlines()
    lines = [line.rstrip() for line in lines]

#we are falsely adding white space in the list as well so we will remove those
non_click_bait = []
for ele in lines:
    if ele.strip():
        non_click_bait.append(ele)

In [20]:
len(non_click_bait)

16001

In [21]:
file.close()

In [30]:
temp = non_click_bait + click_bait

In [31]:
len(temp)

32000

In [39]:
words = ["clickbait","not-clickbait"]
y =[]
for i in range(15999):
    y = y + [words[0]]
for i in range(16001):
    y = y + [words[1]]

In [42]:
data = {"title":temp,"label":y}

data = pd.DataFrame(data)

In [43]:
display(data)

                                                   title          label
0      Bill Changing Credit Card Rules Is Sent to Oba...      clickbait
1      In Hollywood, the Easy-Money Generation Toughe...      clickbait
2      1700 runners still unaccounted for in UK's Lak...      clickbait
3      Yankees Pitchers Trade Fielding Drills for Put...      clickbait
4      Large earthquake rattles Indonesia; Seventh in...      clickbait
...                                                  ...            ...
31995  There Was A Mini "Sisterhood Of The Traveling ...  not-clickbait
31996    21 Dogs Who Are Thankful For Their Best Friends  not-clickbait
31997  People Are Proving No Dick Is Too Big By Dropp...  not-clickbait
31998                        I'm An Atheist, But I'm Not  not-clickbait
31999  An Artist Drew Disney Men As Justin Bieber And...  not-clickbait

[32000 rows x 2 columns]

In [44]:
#Now we will shuffle it and pick 10050 of it
data = data.reindex(np.random.permutation(data.index))
data = data[:10050]

In [45]:
display(data)

                                                   title          label
9708           Doctors Face Fiscal Squeeze for Treatment      clickbait
26860  7 Perfectly Appropriate Responses To Someone A...  not-clickbait
24266         13 Insanely Easy Three-Ingredient Desserts  not-clickbait
8296                    Home-invaders pose as NYC police      clickbait
7848   Emergency spacewalks planned to fix Internatio...      clickbait
...                                                  ...            ...
27242  Can You Remember The First Episode Of "Full Ho...  not-clickbait
17915  Let's See How Well You Remember The First Epis...  not-clickbait
17761  How Well Do You Remember The Lyrics To Panic! ...  not-clickbait
23308     Are You More Severus Snape Or Albus Dumbledore  not-clickbait
19985  Urban Decay Released A Gwen Stefani Palette An...  not-clickbait

[10050 rows x 2 columns]

In [51]:
#Lets save the data
data.to_csv("Data.csv")

In [47]:
#Now lets split the data
from sklearn.model_selection import train_test_split
train, test = train_test_split(data, shuffle = True, stratify = data.label, train_size = 50/data.shape[0], random_state = 50)

In [48]:
train.shape

(50, 2)

In [49]:
test.shape

(10000, 2)

In [50]:
train.sample(10)

                                                   title          label
8014               Yamaguchi Is Off the Ice, and at Home      clickbait
9179   Human Rights Watch publish documents alleging ...      clickbait
22279  This Reunion Interview With The Cast Of "Willy...  not-clickbait
778    Thai political talk show taken off during medi...      clickbait
6590                 Money Manager Is Missing in Florida      clickbait
19619   14 Crazy Tricks That'll Actually Make You Warmer  not-clickbait
26544  "Top Gear" Has Seven Presenters Now And People...  not-clickbait
3419   Lakers Top Rockets to Advance to Western Confe...      clickbait
9023                 US and UK forces join Libyan attack      clickbait
29105  The 25 Most GIF-Worthy Moments Of The 2015 Blu...  not-clickbait